/*!
Author: Barry Ceelen
Author URI: http://barryceelen.com
*/
/**
 * Note: Media query variables defined in _main.scss
 */
/**
 * Type
 */
/**
 * Colors
 */
/**
 * Convert pixels to ems
 */
/*
 * Background image for retina screens
 * via: http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
 */
/**
 * Cross-browser inline-block
 */
/**
 * Clearfix
 */
/**
 * Text image replacement
 */
/**
 * Kerning
 *
 * Via: http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("//brick.a.ssl.fastly.net/fonts/robotocondensed/300.woff") format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url("//brick.a.ssl.fastly.net/fonts/robotocondensed/300i.woff") format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("//brick.a.ssl.fastly.net/fonts/robotocondensed/400.woff") format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("//brick.a.ssl.fastly.net/fonts/robotocondensed/700.woff") format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url("//brick.a.ssl.fastly.net/fonts/robotocondensed/400i.woff") format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url("//brick.a.ssl.fastly.net/fonts/robotocondensed/700i.woff") format("woff");
}
/**
 * Variables defined here because we need the pem mixin
 */
.hidden {
  display: none;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #222222;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100%;
}

#content {
  background: white;
}

#masthead {
  display: none;
  background: white;
  position: relative;
}

.site-branding h1 {
  margin: 0;
}

.project {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0em;
  overflow-x: hidden;
}
.project .entry-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.project-iphone {
  padding: 2em;
}
.project-iphone .project-details {
  float: left;
  width: 300px;
}

.project-web {
  padding: 2em 2em 0;
}

.project-details {
  margin-bottom: 2em;
  padding-right: 1em;
}

.project-gallery {
  white-space: nowrap;
}
.project-gallery figure {
  background: white;
  margin-right: 1em;
}
.project-gallery figure:last-of-type {
  margin-right: 0;
}

.project-iphone figure {
  border: 3px solid #e6e6e6;
  border-radius: 55px;
  display: inline-block;
  padding: 106px 26px;
  position: relative;
}
.project-iphone figure picture {
  background: #e6e6e6;
}
.project-iphone figure img {
  display: block;
  width: 320px;
}
.project-iphone figure:before, .project-iphone figure:after {
  content: '';
  display: block;
  position: absolute;
}
.project-iphone figure:before {
  background: #e6e6e6;
  border-radius: 8px;
  width: 60px;
  height: 8px;
  top: 52px;
  left: 50%;
  margin-left: -30px;
}
.project-iphone figure:after {
  border: 3px solid #e6e6e6;
  border-radius: 100px;
  bottom: 24px;
  left: 50%;
  margin-left: -31px;
  width: 62px;
  height: 62px;
}

.project-web figure {
  border: 3px solid #e6e6e6;
  border-bottom: 0 none;
  border-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  padding: 48px 0 0;
  position: relative;
  width: 100%;
  max-height: 480px;
  max-width: 1088px;
  overflow-y: hidden;
}
.project-web figure picture {
  background: #e6e6e6;
}
.project-web figure img {
  display: block;
  width: 100%;
}
.project-web figure:before, .project-web figure:after {
  content: '';
  display: block;
  position: absolute;
}
.project-web figure:before {
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 24px 0 0 #e6e6e6, 48px 0 0 #e6e6e6;
  width: 16px;
  height: 16px;
  top: 16px;
  left: 46px;
  margin-left: -30px;
}

/*# sourceMappingURL=app.css.map */
