/*!
Author: Barry Ceelen
Author URI: http://barryceelen.com
*/
/**
 * Convert pixels to ems
 */
/**
 * Convert pixels to vw
 */
/*
 * Background image for retina screens
 * via: http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
 */
/**
 * Cross-browser inline-block
 */
/**
 * Clearfix
 */
/**
 * Text image replacement
 */
/**
 * Kerning
 *
 * Via: http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 */
/**
 * Try to prevent user selection
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

body {
  background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

a img {
  border: 0;
}

@font-face {
  font-family: 'boogaloo';
  font-style: normal;
  font-weight: 400;
  src: local("Boogaloo"), local("Boogaloo-Regular");
  src: url("../fonts/boogaloo-regular-webfont.eot");
  src: url("../fonts/boogaloo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/boogaloo-regular-webfont.woff2") format("woff2"), url("../fonts/boogaloo-regular-webfont.woff") format("woff"), url("../fonts/boogaloo-regular-webfont.ttf") format("truetype"), url("../fonts/boogaloo-regular-webfont.svg#boogalooregular") format("svg");
}
/**
 * TODO Print stylesheet, see: http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/
 */
.hidden {
  display: none;
}

i, b {
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

@media all {
  .page-break {
    display: none;
  }
}
@media print {
  .projects article {
    page-break-before: always;
  }
}
picture {
  display: block;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/bg-grid-balsamiq.png") center top;
  color: #222222;
  font-family: "boogaloo", sans-serif;
  font-size: 100%;
  box-shadow: inset 0 200px 200px #fff;
}

.site-footer {
  margin: 0 auto;
  max-width: 1100;
  padding: 6em 2em 2em;
}

#colophon {
  padding: 8.25em 1em 1em;
}

.footer-inner {
  font-weight: 400;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  max-width: 68.75em;
  font-size: 12px;
}
@media all and (min-width: 825px) {
  .footer-inner {
    font-size: 1.45455vw;
  }
}
@media all and (min-width: 1100px) {
  .footer-inner {
    font-size: 16px;
  }
}
.footer-inner a {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-inner a:hover, .footer-inner a:focus {
  color: #0074d9;
  text-decoration: underline;
}
.footer-inner .impressum {
  color: #d4d4d4;
  float: right;
}
.footer-inner .impressum i {
  display: none;
}
.footer-inner .love {
  color: #ff4136;
}

.site-branding h1 {
  margin: 0;
}

.site-header {
  margin-bottom: 3.75em;
  padding-top: 3.75em;
  text-align: center;
}
.site-header .site-branding {
  display: inline-block;
  font-size: 5.125em;
  position: relative;
  text-shadow: 0 1px 0 #fff8cc;
}
.site-header .site-branding:before {
  background: #ffdc00;
  content: '';
  height: 50px;
  position: absolute;
  right: 52px;
  bottom: 0;
  left: 24px;
  -webkit-transform: rotate(-1.6deg);
      -ms-transform: rotate(-1.6deg);
          transform: rotate(-1.6deg);
  z-index: 1;
}
.site-header .site-branding b {
  font-weight: inherit;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.site-header .site-branding b:first-of-type {
  -webkit-transform: rotate(-3.6deg);
      -ms-transform: rotate(-3.6deg);
          transform: rotate(-3.6deg);
}
.site-header .site-branding b:nth-of-type(2) {
  font-size: 0.93902em;
  -webkit-transform: rotate(-3.3deg);
      -ms-transform: rotate(-3.3deg);
          transform: rotate(-3.3deg);
}
.site-header .site-branding b:nth-of-type(3) {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.site-header .site-branding b:nth-of-type(4) {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
.site-header .site-branding b:last-of-type {
  font-size: 1.36585em;
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}

.device-iphone-5 {
  background: #fff;
  border-color: #e6e6e6;
  border-style: solid;
  border-top-left-radius: 14.55026% 6.99746%;
  border-top-right-radius: 14.55026% 6.99746%;
  border-bottom-left-radius: 14.55026% 6.99746%;
  border-bottom-right-radius: 14.55026% 6.99746%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  width: 32vw;
  max-width: 378px;
  border-width: 1px;
}
@media all and (min-width: 366.66667px) {
  .device-iphone-5 {
    border-width: 0.27273vw;
  }
}
@media all and (min-width: 1100px) {
  .device-iphone-5 {
    border-width: 3px;
  }
}
.device-iphone-5 figure {
  height: 0;
  padding-bottom: 177.5%;
  position: relative;
  width: 100%;
}
.device-iphone-5 .device-screen {
  padding: 29.10053% 6.87831%;
}
.device-iphone-5 picture {
  background: #e6e6e6;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.device-iphone-5 img {
  display: block;
  width: 100%;
}
.device-iphone-5:before, .device-iphone-5:after {
  content: '';
  display: block;
  position: absolute;
}
.device-iphone-5:before {
  background: #e6e6e6;
  border-radius: 999px;
  width: 15.87302%;
  height: 1.01781%;
  top: 6.61578%;
  left: 50%;
  margin-left: -7.93651%;
}
.device-iphone-5:after {
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 3px;
  border-radius: 999px;
  bottom: 3.05344%;
  left: 50%;
  margin-left: -8.20106%;
  width: 16.40212%;
  height: 7.88804%;
  border-width: 1px;
}
@media all and (min-width: 366.66667px) {
  .device-iphone-5:after {
    border-width: 0.27273vw;
  }
}
@media all and (min-width: 1100px) {
  .device-iphone-5:after {
    border-width: 3px;
  }
}

.device-web {
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 3px;
  border-bottom: 0 none;
  border-top-right-radius: 1.27273% 2.91667%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 1.27273% 2.91667%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  width: 100%;
  border-width: 1px;
}
@media all and (min-width: 366.66667px) {
  .device-web {
    border-width: 0.27273vw;
  }
}
@media all and (min-width: 1100px) {
  .device-web {
    border-width: 3px;
  }
}
.device-web figure {
  height: 0;
  padding-bottom: 39.27273%;
  position: relative;
  width: 100%;
}
.device-web .device-screen {
  padding: 4.36364% 0 0 0;
  overflow-y: hidden;
}
.device-web picture {
  background-color: #e6e6e6;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.device-web img {
  display: block;
  width: 100%;
}
.device-web:before, .device-web:after {
  content: '';
  display: block;
  position: absolute;
}
.device-web:before {
  background-color: #e6e6e6;
  border-radius: 8px;
  box-shadow: 2.18182vw 0 0 #e6e6e6, 4.36364vw 0 0 #e6e6e6;
  width: 1.45455%;
  height: 3.33333%;
  top: 0px;
  left: 0px;
}
@media all and (min-width: 0px) {
  .device-web:before {
    top: 1.45455vw;
  }
}
@media all and (min-width: 1100px) {
  .device-web:before {
    top: 16px;
  }
}
@media all and (min-width: 0px) {
  .device-web:before {
    left: 1.45455vw;
  }
}
@media all and (min-width: 1100px) {
  .device-web:before {
    left: 16px;
  }
}

@media all and (min-width: 68.75em) {
  .device-web:before {
    box-shadow: 1.5em 0 0 #e6e6e6, 3em 0 0 #e6e6e6;
  }
}
.featured-projects {
  text-align: center;
  margin: 0 auto;
  max-width: 81.3125em;
}
.featured-projects h1 {
  color: #ff4136;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(-0.6deg);
      -ms-transform: rotate(-0.6deg);
          transform: rotate(-0.6deg);
}
.featured-projects h1:before {
  content: '\2013\2009';
}
.featured-projects h1:after {
  content: '\2009\2013';
}
.featured-projects li {
  font-family: "boogaloo", sans-serif;
  font-size: 3.125em;
  line-height: 1.48em;
  padding-left: 1.48em;
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.featured-projects li a {
  display: block;
}
