doctype html
html.no-js(lang='en-US')
include _head
body
	#page.hfeed.site
		#content

			block content

	footer#colophon(role='contentinfo')
		.footer-inner
			a(href='mailto:b@rryceelen.com', rel='home') E-Mail
			|&nbsp;
			|&middot; From Berlin With &hearts;&nbsp;
			span.impressum
				i.&middot;
				|&nbsp;Impressum