doctype html
html.no-js(lang='en-US')
include _head
body
	#page.hfeed.site
		#content

			block content

	footer#colophon.site-footer(role='contentinfo')
		.site-branding
			h1.site-title
				a(href='#', rel='home') Barry Ceelen (C) 2014 &middot; E-Mail &middot; Impressum &middot; Made In Berlin