section.featured-projects
	h1 Selected Projects
	ul
		li.foodpanda Foodpanda
		li.supreme-new-york Supreme New York
		li.zalando Zalando
		li.simfy Simfy
		li.double-standards Double Standards
		li.neumeister-bar-am Neumeister Bar-Am
		li.die-welt-mobil Die Welt Mobil
		li.cool-cities Cool Cities
		li.kadewe KaDeWe
		li.stylebop Stylebop
		li.sankyu Sankyu
		li.raceunion Raceunion
		li.pictrip PicTrip
		li.man-iaa-2010 MAN IAA 2010
		li.dmy-berlin DMY Berlin
