.site-footer-wrap
	header.site-header.hentry(role='banner')
		.site-branding
			h1.site-title
				a(href='#', rel='home') Barry Ceelen
			p.site-description.
				bla bla bla

	footer#colophon.site-footer(role='contentinfo')