section.projects
	.row.project.project-split.project-split-left.project-muka
		article.hentry
			.project-inner
				.project-details
					|Client:
					h1.entry-title.underline
						a(href='http://muenchnerkammerspiele.de') M&uuml;nchner Kammerspiele
					|Design:
					br
					strong
						a(href='http://doublestandards.net') Double Standards
					br
					|Role:
					br
					strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								img-wrap
									img(src='img/projects/muenchnerkammerspiele-01.png', alt='')

	.row.project.project-split.project-split-left.project-foodpanda.project-phone
		article.hentry
			.project-inner
				.project-details
					|Client:
					h1.entry-title.underline
						a(href='https://itunes.apple.com/app/id758103884?mt=8') Foodpanda
					|Role:
					br
					strong Product Design
					br
					strong iPhone, Android, Web
					br
					small with Patrick Funk
				.project-gallery
					include _device_phone
					include _device_phone
					include _device_phone

	.row.project.project-neubar.project-split.project-split-left
		article.hentry
			.project-inner
				.project-details
					|Client:
					h1.entry-title.underline Neumeister <b class="nowrap">Bar-Am</b>
					|Role:
					br
					strong Development
					br
					strong WordPress
				.project-gallery
					.device.device-web
						.device-screen
							figure
								img-wrap
									img(src='img/projects/neumeisterbaram-01.png', alt='')

	.row.project.project-split.project-split-left.project-supreme
		article.hentry
			.project-inner
				.project-details
					|Client:
					h1.entry-title.underline
						a(href='http://supremenewyork.com') Supreme New York
					|Role:
					br
					strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								img-wrap
									img(src='img/projects/supreme-01.png', alt='')

	.row.project.project-split.project-split-left.project-welt.project-phone.project-phone-black
		article.hentry
			.project-inner
				.project-details
					|Client:
					h1.entry-title Axel Springer
					|Role:
					br
					strong Product Design
					br
					strong iPhone, Android, Blackberry
				.project-gallery
					include _device_phone
					include _device_phone
					include _device_phone