section.projects
	article.hentry.project.project-iphone
		.project-inner
			.project-details
				h1.entry-title Foodpanda
				.entry-content
					p 2014 &mdash; iPhone &amp; Android App
					p Concept, Design
			.project-gallery
				figure
					picture
						img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				figure
					picture
						img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

	.page-break

	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Neumeister Bar-Am
				.entry-content
					p 2014 &mdash; Custom WordPress Theme
			.project-gallery
				figure
					picture
						img(src='img/projects/test-image-web.jpg', alt='')

	.page-break

	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Neumeister Bar-Am
				.entry-content
					p 2014 &mdash; Custom WordPress Theme
			.project-gallery

	.page-break

	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Neumeister Bar-Am
				.entry-content
					p 2014 &mdash; Custom WordPress Theme
			.project-gallery

	.page-break