.projects

	article.hentry.project.project-foodpanda
		.project-inner
			.project-details
				h1.project-title
					|Foodpanda
				p.project-description
					|Lorem ipsum dolor valentin.

			.project-gallery
				- var src = 'img/projects/test-image-portrait-iphone-5.png'
				include _device_iphone_5
				- var src = 'img/projects/test-image-portrait-iphone-5.png'
				include _device_iphone_5
				- var src = 'img/projects/test-image-portrait-iphone-5.png'
				include _device_iphone_5
