section.projects

	article.hentry.project.project-iphone
		.project-details
			h1.entry-title Some Project
		.project-gallery
			figure
				picture
					img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
			figure
				picture
					img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

	article.hentry.project.project-web
		.project-details
			h1.entry-title A Web Project
		.project-gallery
			figure
				picture
					img(src='img/projects/test-image-portrait-iphone-5.png', alt='')