section.projects
	article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Foodpanda
				.entry-content
					p 2014 &mdash; iPhone &amp; Android App
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')


	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Neumeister Bar-Am
				.entry-content
					p 2014 &mdash; WordPress Custom Theme &amp; Plugins
			.project-gallery
				.device.device-web
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-web.jpg', alt='')
