section.projects

	article.hentry.project.project-split.project-split-left.project-muka
		.project-inner
			.project-details
				|Client:
				h1.entry-title
					a(href='http://muenchnerkammerspiele.de') M&uuml;nchner Kammerspiele
				|Design:
				br
				a(href='http://doublestandards.net') Double Standards
				br
				|Role:
				br
				|Front-End Development
			.project-gallery
					include _device_browser

	article.hentry.project.project-split.project-split-left.project-neubar
		.project-inner
			.project-details
				|Client:
				h1.entry-title Neumeister Bar-Am
				|Role:
				br
				|Front-End Development
				br
				|WordPress
			.project-gallery
					include _device_browser

	article.hentry.project
		.project-inner
			.project-details
				h1.entry-title
					|Client: Supreme New York
					|Role: Front-End Development
			.project-gallery
				include _device_browser
