section.projects
	.row.project.project-muka
		article.hentry
			.project-inner
				ul.project-details
					li
						|Client:
						h1.entry-title.underline
							a(href='http://muenchnerkammerspiele.de') M&uuml;nchner Kammerspiele
					li
						|Design:
						br
						strong
							a(href='http://doublestandards.net') Double Standards
					li
						|Role:
						br
						strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								img-wrap
									img(src='img/projects/muenchnerkammerspiele-01.png', alt='')

	.row.project.project-foodpanda.project-phone.project-phone-black
		article.hentry
			.project-inner
				ul.project-details
					li
						|Client:
						h1.entry-title.underline
							a(href='https://itunes.apple.com/app/id758103884?mt=8') Foodpanda
					li
						|Role:
						br
						strong Product Design
						br
						strong iPhone, Android, Web
						br
						small with Patrick Funk
				.project-gallery
					include _device_phone
					include _device_phone
					include _device_phone

	.row.project.project-neubar
		article.hentry
			.project-inner
				ul.project-details
					li
						|Client:
						h1.entry-title.underline Neumeister <b class="nowrap">Bar-Am</b>
					li
						|Role:
						br
						strong Development
						br
						strong WordPress
				.project-gallery
					.device.device-web
						.device-screen
							figure
								img-wrap
									img(src='img/projects/neumeisterbaram-01.png', alt='')

	.row.project.project-supreme
		article.hentry
			.project-inner
				ul.project-details
					li
						|Client:
						h1.entry-title.underline
							a(href='http://supremenewyork.com') Supreme New York
					li
						|Role:
						br
						strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								img-wrap
									img(src='img/projects/supreme-01.png', alt='')

	.row.project.project-welt.project-phone.project-phone-black
		article.hentry
			.project-inner
				ul.project-details
					li
						|Client:
						h1.entry-title Axel Springer
					li
						|Role:
						br
						strong Product Design
						br
						strong iPhone, Android, Blackberry
				.project-gallery
					include _device_phone
					include _device_phone
					include _device_phone