ul.projects-overview
	li.project-details
		h1.entry-title Foodpanda
		.entry-content
			p 2014 &mdash; iPhone &amp; Android
			p Concept / Product Design
	li.project-details
		h1.entry-title Neumeister Bar-Am
		.entry-content
			p 2014 &mdash; WordPress Custom Theme &amp; Plugins
	li.project-details
		h1.entry-title Simfy
		.entry-content
			p 2013 &mdash; iPhone &amp; Android
			p Concept / Product Design
	li.project-details
		h1.entry-title Die Welt Mobil
		.entry-content
			p 2013 &mdash; iPhone, Android &amp; Blackberry
			p Concept / Product Design
	li.project-details
		h1.entry-title Zalando
		.entry-content
			p 2012 &mdash; iPhone &amp; Android
			p Concept / Product Design
	li.project-details
		h1.entry-title Supreme New York
		.entry-content
			p 2012 &mdash; supremenewyork.com
			p Front End Development
	li.project-details
		h1.entry-title KADEWE
		.entry-content
			p 2011 &mdash; iPhone
			p Concept / Product Design
	li.project-details
		h1.entry-title Stylebop
		.entry-content
			p 2011 &mdash; iPhone
			p Concept / Product Design
	li.project-details
		h1.entry-title Raceunion
		.entry-content
			p 2011 &mdash; iPhone
			p Interface Design
	li.project-details
		h1.entry-title Pictrip
		.entry-content
			p 2011 &mdash; iPhone
			p Interface Design
	li.project-details
		h1.entry-title Cool Cities
		.entry-content
			p 2011 &mdash; iPad
			p Interface Design
