section.projects

	article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Foodpanda
				.entry-content
					p 2014 &mdash; iPhone &amp; Android App
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Supreme New York
				.entry-content
					p 2012 &mdash; supremenewyork.com
					p Front End Development
			.project-gallery
				.device.device-web
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-web.jpg', alt='')

	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Neumeister Bar-Am
				.entry-content
					p 2014 &mdash; WordPress Custom Theme &amp; Plugins
			.project-gallery
				.device.device-web
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-web.jpg', alt='')

	article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Simfy
				.entry-content
					p 2013 &mdash; iPhone &amp; Android App
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

	article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Die Welt Mobil
				.entry-content
					p 2013 &mdash; iPhone, Android &amp; Blackberry Apps
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Zalando
				.entry-content
					p 2012 &mdash; iPhone &amp; Android App
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

	article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title KADEWE
				.entry-content
					p 2011 &mdash; iPhone App
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Stylebop
				.entry-content
					p 2011 &mdash; iPhone App
					p Concept / Product Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Raceunion
				.entry-content
					p 2011 &mdash; iPhone App
					p Interface Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

article.hentry.project.project-split
		.project-inner
			.project-details
				h1.entry-title Pictrip
				.entry-content
					p 2011 &mdash; iPhone App
					p Interface Design
			.project-gallery
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')
				.device.device-iphone-5
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-portrait-iphone-5.png', alt='')

	article.hentry.project.project-web
		.project-inner
			.project-details
				h1.entry-title Cool Cities
				.entry-content
					p 2011 &mdash; iPad App
					p Interface Design
			.project-gallery
				.device.device-web
					.device-screen
						figure
							picture
								img(src='img/projects/test-image-web.jpg', alt='')