.device-iphone-5 {
	background: #fff;
	// border-color: $grey_light;
	// border-style: solid;
	border-top-left-radius: percentage(55/378) percentage(55/786); // 55px
	border-top-right-radius: percentage(55/378) percentage(55/786); // 55px
	border-bottom-left-radius: percentage(55/378) percentage(55/786); // 55px
	border-bottom-right-radius: percentage(55/378) percentage(55/786); // 55px
	box-shadow: 0 0 11px 0 rgba(0,0,0,0.11);
	box-sizing: border-box;
	margin: 0;
	position: relative;
	width: 32vw;
	max-width: 378px; // height: 786px;
	// @include vw-min-max('border-width',1,3,$content_max_width);
	figure {
		height: 0;
		padding-bottom: percentage(568/320);
		position: relative;
		width: 100%;
	}
	.device-screen {
		padding: percentage(110/378) percentage(26/378);
	}
	.img-wrap {
		background: $grey_light;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}
	img {
		display: block;
		width: 100%;
	}
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before { // Speaker
		background: $grey_light;
		border-radius: 999px;
		width: percentage(60/378); // 60px;
		height: percentage(8/786); // 8px;
		top: percentage(52/786);
		left: 50%;
		margin-left: percentage(-30/378);
	}
	&:after { // Home button
		border-color: $grey_light;
		border-style: solid;
		border-width: 3px;
		border-radius: 50%;
		bottom: percentage(24/786); // 24px;
		left: 50%;
		margin-left: percentage(-31/378); // -31px;
		width: percentage(62/378); // 62px
		height: percentage(62/786); // 62px
		@include vw-min-max('border-width',1,3,$content_max_width);
	}
}
