.featured-projects {
	text-align: center;
	margin: 0 auto;
	max-width: pem($content_max_width + 201);
	h1 {
		color: $red;
		font-size: pem(36);
		text-align: center;
		text-transform: uppercase;
		transform: rotate(-.6deg);
		&:before {
			content: '\2013\2009'; // en-dash, thin-space
		}
		&:after {
			content: '\2009\2013';
		}
	}
	li {
		font-family: "boogaloo", sans-serif;
		font-size: pem(50);
		line-height: 2em;
		padding-left: 1.48em;
		margin-right: .5em;
		position: relative;
		white-space: nowrap;
		@include inline-block;
		a {
			display: block;
		}
		&:before {
			background: #fff;
			background: rgba(255,255,255,.4);
			border-radius: 12%;
			box-shadow: -1px 1px 3px rgba(0,0,0,.3);
			content: '';
			position: absolute;
			left: 0;
			top: pem(18,50);
			width: pem(64,50);
			height: pem(64,50);
		}
	}
}