@font-face {
	font-family: 'bc';
	src: url('../fonts/bc.eot');
	src: url('../fonts/bc.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/bc.woff') format('woff'),
	     url('../fonts/bc.ttf') format('truetype'),
	     url('../fonts/bc.svg#bc') format('svg');
	font-weight: normal;
	font-style: normal;
}