@font-face{
	font-family: 'boogaloo';
	font-style: normal;
	font-weight: 400;
	src: local('Boogaloo'),
		 local('Boogaloo-Regular');
	src: url('../fonts/boogaloo-regular-webfont.eot');
	src: url('../fonts/boogaloo-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/boogaloo-regular-webfont.woff2') format('woff2'),
		 url('../fonts/boogaloo-regular-webfont.woff') format('woff'),
		 url('../fonts/boogaloo-regular-webfont.ttf') format('truetype'),
		 url('../fonts/boogaloo-regular-webfont.svg#boogalooregular') format('svg');
}
