@font-face {
    font-family: 'poppins';
    src: url('./poppins-regular-webfont.eot');
    src: local('Poppins'),
         local('Poppins-Regular'),
         url('./poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./poppins-regular-webfont.woff2') format('woff2'),
         url('./poppins-regular-webfont.woff') format('woff'),
         url('./poppins-regular-webfont.ttf') format('truetype'),
         url('./poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('./poppins-semibold-webfont.eot');
    src: local('Poppins SemiBold'),
         local('Poppins-SemiBold'),
         url('./poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./poppins-semibold-webfont.woff2') format('woff2'),
         url('./poppins-semibold-webfont.woff') format('woff'),
         url('./poppins-semibold-webfont.ttf') format('truetype'),
         url('./poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
