@font-face{
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'),
	local('RobotoCondensed-Light'),
	url('//brick.a.ssl.fastly.net/fonts/robotocondensed/300.woff') format('woff')
}
@font-face{
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'),
	local('RobotoCondensed-LightItalic'),
	url('//brick.a.ssl.fastly.net/fonts/robotocondensed/300i.woff') format('woff')
}
@font-face{
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'),
	local('RobotoCondensed-Regular'),
	url('//brick.a.ssl.fastly.net/fonts/robotocondensed/400.woff') format('woff')
}
@font-face{
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'),
	local('RobotoCondensed-Bold'),
	url('//brick.a.ssl.fastly.net/fonts/robotocondensed/700.woff') format('woff')
}
@font-face{
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'),
	local('RobotoCondensed-Italic'),
	url('//brick.a.ssl.fastly.net/fonts/robotocondensed/400i.woff') format('woff')
}
@font-face{
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'),
	local('RobotoCondensed-BoldItalic'),
	url('//brick.a.ssl.fastly.net/fonts/robotocondensed/700i.woff') format('woff')
}