#colophon {
	background: #ffff01;
	color: inherit;
	font-weight: 700;
	padding: pvw( 32, $content_max_width );
	@include vw-min-max( 'font-size', 16, 20, $width_project_max );
}

.footer-inner {
	text-align: center;
	width: 100%;
}
