/**
 * TODO Print stylesheet, see: http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/
 */

html {
	color: $black;
	font-family: $font_family;
	font-size: 100%;
}

small {
	font-size: 80%;
}

strong {
	font-weight: 700;
}

img {
	display: block;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	// .page-break	{ display: block; page-break-before: always; }
	.projects article {
		page-break-before: always;
	}
}

.load-more {
	background: #fff;
	background: #ffff02;
	padding: 12em 1em 12em;
	text-align: center;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

.button-load-more {
	background: #ffff02;
	background: $black;
	// box-shadow: 0 1px 4px rgba(0,0,0,.1);
	border: 3px solid $black;
	border-radius: 999px;
	color: $black;
	color: #ffff02;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2;
	padding: 1em 3em;
	white-space: nowrap;
	text-transform: uppercase;
	transition: all linear .2s;
	&:hover, &:focus {
		// background: #fff;
		// border: 3px solid #fff;
		color: #ffff02;
	}
}