/**
 * TODO Print stylesheet, see: http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/
 */

html {
	color: $black;
	font-family: $font_family;
	font-size: 100%;
}

body {
	background: #ffff01;
}

small {
	font-size: 80%;
}

strong {
	font-weight: 700;
}

img {
	display: block;
}

.nowrap {
	white-space: nowrap;
}

.hide-on-small {
	@media screen and (max-width: 500px) {
		display: none;
	}
}

// @media all {
// 	.page-break	{ display: none; }
// }

// @media print {
// 	.page-break	{ display: block; page-break-before: always; }
// 	.projects article {
// 		page-break-before: always;
// 	}
// }
