.site-header {
	margin-bottom: pem(60);
	padding-top: pem(60);
	text-align: center;
}

//
// Todo: Might as well use an SVG image.
//
.site-branding {
	color: #353535;
	display: inline-block;
	font-size: pem(105);
	margin: 0;
	position: relative;
	text-shadow: 0 1px 0 lighten(#F8E71C,40);
	word-spacing: -0.11em;
	// Stroke below text.
	&:before  {
		background: #F8E71C;
		content: '';
		height: 60px;
		position: absolute;
		right: 52px;
		bottom: 4px;
		left: 24px;
		transform: rotate(-1.6deg);
		z-index: 1;
	}
	b {
		font-weight: inherit;
		display: inline-block;
		position: relative;
		z-index: 2;
	}
	// Digital
	b:first-of-type {
		transform: rotate(-3.6deg);
	}
	// with
	b:nth-of-type(2) {
		font-size: pem(77,82);
		transform: rotate(-3.3deg);
	}
	// a
	b:nth-of-type(3) {
		transform: translateY(-.1em);
	}
	// capital
	b:nth-of-type(4) {
		transform: rotate(-2deg);
	}
	// "B"
	b:last-of-type {
		font-size: pem(112,82);
		transform: rotate(3deg);
	}
}
