.img-wrap:before {
	animation-delay: -0.16s;
	animation-fill-mode: both;
	animation: zoinks 1.8s infinite ease-in-out;
	border-radius: 50%;
	color: rgba(0,0,0,0.3);
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateZ(0);
	width: 1.5em;
	height: 1.5em;
	.project-phone-black & {
		color: rgba(255,255,255,0.15);
	}
}

.img-wrap:before {
	transform: translateX(-50%) translateY(-300%);
}

@-webkit-keyframes zoinks {
	0%,
	80%,
	100% {
	box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
	box-shadow: 0 2.5em 0 0;
  }
}
@keyframes zoinks {
  0%,
  80%,
  100% {
	box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
	box-shadow: 0 2.5em 0 0;
  }
}
