/**
 * TODO Print stylesheet, see: http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/
 */

/**
 * Variables defined here because we need the pem mixin
 */
$narrow_width: pem(480);
$medium_width: pem(768);

.hidden {
	display: none;
}

img {
	display: block;
}

figure {
	margin: 0;
	padding: 0;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	// .page-break	{ display: block; page-break-before: always; }
	.projects article {
		page-break-before: always;
	}
}

picture {
	display: block;
	margin: 0;
	padding: 0;
}

h1, p {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: $background_color_footer;
	color: $black;
	font-family: $font_family;
	font-size: 100%;
}

#content {
	background: $background_color_content;
}

.site-footer {
	margin: 0 auto;
	max-width: $content_max_width;
	padding: 6em 2em 2em;
}

.site-title {
	font-size: pem(16);
	font-weight: 400;
	a {
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
	}
}