#masthead {
	padding: pvw( 32, $content_max_width );
	@include clearfix;
}

.site-branding {
	font-weight: 700;
	float: left;
	a {
		color: inherit;
		text-decoration: none;
		@include vw-min-max( 'font-size', 16, 20, $width_project_max );
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.external-links {
	float: right;
	font-weight: 700;
	a {
		color: inherit;
		text-decoration: none;
		@include vw-min-max( 'font-size', 16, 20, $width_project_max );
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}