/**
 * Convert pixels to ems
 */
@function pem($px, $context: $base_font_size) {
	@return #{$px / $context}em;
}

/**
 * Convert pixels to vw
 */
@function pvw($px, $viewport_width) {
	@return #{($px / $viewport_width) * 100}vw;
}

@mixin vw-min-max($font_size_min, $font_size_max, $viewport_width_max) {

	$vw: ($font_size_max / $viewport_width_max) * 100;
	$min_width: ($font_size_min/$vw)*100;
	$mq_min: #{$min_width}px;
	$mq_max: #{$viewport_width_max}px;

	font-size: #{$font_size_min}px;
	@media all and (min-width: $mq_min) {
		font-size: #{$vw}vw;
	}
	@media all and (min-width: $mq_max) {
		font-size: #{$font_size_max}px;
	}
}

/*
 * Background image for retina screens
 * via: http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
 */
@mixin image-2x($image, $width, $height) {
	@media all and (min--moz-device-pixel-ratio: 1.3),
				 (-o-min-device-pixel-ratio: 2.6/2),
				 (-webkit-min-device-pixel-ratio: 1.3),
				 (min-device-pixel-ratio: 1.3),
				 (min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: url($image);
		background-size: $width $height;
	}
}

@mixin dashicon($content) {
	content: $content;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	text-decoration: underline;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * Cross-browser inline-block
 */
@mixin inline-block { // Via: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	*vertical-align: auto; // IE7 inline-block hack
	zoom: 1;
	*display: inline;
}

/**
 * Clearfix
 */
@mixin clearfix {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

/**
 * Text image replacement
 */
@mixin ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/**
 * Kerning
 *
 * Via: http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 */
@mixin kern {
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

/**
 * Try to prevent user selection
 */
@mixin userselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
