$width_project_max: 1470px;

.project {
	margin: 0;
	overflow-y: hidden;
	page-break-before: always;
	overflow-x: hidden;
	// will-change: transform;
	@include kern;
	article {
		display: table;
		table-layout: fixed;
		margin: 0 auto;
		width: 100%;
		max-width: $width_project_max;
	}
}

.project-inner {
	display: table-row;
}

.project-details {
	color: inherit;
	display: table-cell;
	line-height: 1.25;
	padding: 0 pvw(16,$content_max_width) pvw(16,$content_max_width) 0;
	text-align: left;
	vertical-align: bottom;
	@include vw-min-max( 'font-size', 10, 18, $content_max_width );
	@include vw-min-max( 'width', 130, 320, $content_max_width );
	li {
		margin-bottom: .25em;
	}
	.entry-title {
		font-weight: 700;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.project-phone & {
		vertical-align: middle;
	}
}

.project-gallery {
	display: table-cell;
	margin: 0 auto;
	vertical-align: bottom;
	@include clearfix;
	.device-web {
		margin: 0 auto -1px 0;
	}
	.device-iphone-5 {
		display: inline-block;
		@include vw-min-max( 'margin-left', 2, 22, $content_max_width );
		&:first-child {
			margin-left: 0;
		}
	}
	.project-phone & {
		white-space: nowrap;
	}
}
