.project {
	border-bottom: 1px solid $border_color;
	margin: 0;
	overflow-x: hidden;
	@include kern;
}

.project-inner {
	margin: 0 auto;
	max-width: $content_max_width;
}

.project-iphone {
	padding: 2em;
	.project-details {
		float: left;
		width: 340px;
	}
	.project-gallery {
		float: right;
		width: $content_max_width - 340px;
	}
}

.project-web {
	padding: 2em 2em 0;
}

.project-details {
	margin-bottom: 2em;
	padding-right: 1em;
	.entry-title {
		font-size: pem(44);
		font-weight: bold;
		line-height: 1;
		margin-bottom: pem(6,44);
		text-transform: uppercase;
	}
	.entry-content {
		font-size: pem(18);
		line-height: 1;
		text-transform: uppercase;
		word-spacing: .1em;
	}
}

.project-gallery {
	white-space: nowrap;
	@include userselect;
	figure {
		background: white;
		margin-right: 1.5em;
		&:last-of-type {
			margin-right: 0;
		}
	}
}

/**
 * iPhone wireframe
 */
.project-iphone figure {
	display: none;
	border: 3px solid $grey_light;
	border-radius: 55px;
	display: inline-block;
	padding: 106px 24px;
	position: relative;
	picture {
		background: $grey_light;
		height: 568px;
	}
	img {
		display: block;
		width: 320px;
	}
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before { // Speaker
		background: $grey_light;
		border-radius: 8px;
		width: 68px;
		height: 14px;
		top: 56px;
		left: 50%;
		margin-left: -34px;
	}
	&:after { // Home button
		border: 3px solid $grey_light;
		border-radius: 100px;
		bottom: 24px;
		left: 50%;
		margin-left: -31px;
		width: 62px;
		height: 62px;
	}
}

/**
 * Browser wireframe
 */
.project-web figure {
	border: 3px solid $grey_light;
	border-bottom: 0 none;
	border-radius: 12px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	display: block;
	padding: 48px 0 0;
	position: relative;
	width: 100%;
	max-height: 480px;
	max-width: 1088px;
	overflow-y: hidden;
	picture {
		background: $grey_light;
	}
	img {
		display: block;
		width: 100%;
	}
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}
	&:before { // Traffic Lights
		background: $grey_light;
		border-radius: 8px;
		box-shadow: 24px 0 0 $grey_light, 48px 0 0 $grey_light;
		width: 16px;
		height: 16px;
		top: 16px;
		left: 46px;
		margin-left: -30px;
	}
}