$border-color: #efefef;

body {
	background: #ffff01;
}

.project-muka {
	background: #ffff02;
	color: #000;
	@include device-web-custom( 502 );
}

.project-foodpanda {
	background: #ea5b31;
	color: white;
}

.project-neubar {
	background: #fafafa url('../img/projects/bg-neubar.jpg') left top no-repeat;
	background-size: cover;
	color: #575D5B;
	padding-top: pvw(8*16,$content_max_width);
}

.project-supreme {
	background: $black;
	border-bottom: none;
	color: #fff;
	@include device-web-custom( 350 );
}

.project-welt {
	background: #fff url('../img/projects/bg-welt.jpg') left top no-repeat;
	background-size: 80%;
	color: #017091;
	@media screen and (min-width: 1200px) { // Todo: Get variable.
		background-size: auto;
	}
	.project-details {
		vertical-align: bottom;
	}
}