.projects-overview {
	padding: pem(16);
	-moz-column-count: 3;
	 -moz-column-gap: 20px;
	 -webkit-column-count: 3;
	 -webkit-column-gap: 20px;
	li {
		break-inside: avoid-column;
		-webkit-column-break-inside: avoid;
	}
}

.project {
	// border-bottom: 1px solid $border_color;
	margin: 0;
	padding: pem(16);
	page-break-before: always;
	overflow-x: hidden;
	@include kern;
}

.project-web {
	margin-bottom: pvw(2*16,$content_max_width);
	padding-bottom: 0;
}

.project-inner {
	// margin: 0 auto;
	padding: 0;
	max-width: pem($content_max_width);
	width: 100%;
	@include clearfix;
}

.project-details {
	margin-bottom: pvw(32,$content_max_width);
	.entry-title {
		font-weight: bold;
		line-height: 1;
		margin-bottom: 0;
		text-transform: uppercase;
		@include vw-min-max('font-size',22,42,$content_max_width);
	}
	.entry-content {
		text-transform: uppercase;
		word-spacing: .1em;
		@include vw-min-max('font-size',12,16,$content_max_width);
	}
}

@media all and (min-width: pem($content_max_width)) {
	.project-details {
		margin-bottom: pem(32);
		padding-right: pem(16);
		.entry-title {
			font-size: pem(42);
		}
	}
}

.project-split {
	.project-gallery {
		white-space: nowrap;
		@include clearfix;
		.device {
			text-align: right;
			margin-right: pvw(16,1100);
			@include inline-block;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

@media all and (min-width: pem(620)) {
	.project-split {
		.project-details {
			float: left;
			padding-right: pem(16);
			width: floor(percentage(312/1100));
		}
		.project-gallery {
			// float: right;
			white-space: nowrap;
			@include clearfix;
		}
	}
}
