.project {
	border-bottom: 1px solid $border_color;
	margin: 0;
	padding: pem(32) pem(16) pem(16);
	overflow-x: hidden;
	@include kern;
}

.project-web {
	padding-bottom: 0;
}

.project-inner {
	margin: 0 auto;
	padding: 0;
	max-width: pem($content_max_width);
	width: 100%;
	@include clearfix;
}

.project-details {
	margin-bottom: pem(32);
	.entry-title {
		@include vw-min-max(22,42,$content_max_width);
		font-weight: bold;
		line-height: 1;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	.entry-content {
		text-transform: uppercase;
		word-spacing: .1em;
		@include vw-min-max(12,16,$content_max_width);
	}
}

@media all and (min-width: pem($content_max_width)) {
	.project-details {
		margin-bottom: pem(32);
		padding-right: pem(16);
		.entry-title {
			font-size: pem(42);
		}
	}
}

.project-split {
	.project-details {
		float: left;
		padding-right: pem(16);
		width: floor(percentage(312/1100));
	}
	.project-gallery {
		float: right;
		white-space: nowrap;
		@include clearfix;
		.device {
			text-align: right;
			margin-right: pem(16); margin-right: pvw(16,1100);
			@include inline-block;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

@media all and (min-width: pem($content_max_width)) {
	.project-split {
		.project-gallery .device {
			margin-right: pem(16);
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

@media all and (min-width: pem($content_max_width)) {
	.device {
		border-width: 3px;
	}
}

