#muenchnerkammerspiele {
	background: #ffff02;
	color: #000;
	@include device-web-custom( 502 );
	.img-wrap:before {
		color: #ffff02;
	}
}

#foodpanda {
	background: #ea5b31;
	color: #fff;
}

#neumeisterbaram {
	background: #fafafa url('../img/projects/bg-neubar.jpg') left top no-repeat;
	background-size: cover;
	color: #575D5B;
	.device-web {
		background: #AAABA7;
		&:before {
			background: darken(#AAABA7,8);
			color: darken(#AAABA7,8);
		}
	}
	.img-wrap:before {
		color: #fff500;
	}
}

#okal {
	background: lighten( #9B978F, 35 );
	color: #9B978F;
	.device-web:before {
		background: #ff3100;
		color: #ff3100;
	}
	.img-wrap:before {
		color: #ff3100;
	}
	@include device-web-custom( 534 );
}

#supreme {
	background: $black;
	border-bottom: none;
	color: #fff;
	@include device-web-custom( 350 );
}

#welt {
	background: #00648B url('../img/projects/bg-welt.jpg') left top no-repeat;
	color: #017091;
	color: #fff;
	@media screen and (min-width: 1200px) { // Todo: Get variable.
		background-size: cover;
	}
}

#mno {
	background: #f7f7f7;
	@include device-web-custom( 500 );
}

#doublestandards {
	background: lighten(#8B8B8B, 40%);
	color: #8B8B8B;
	@include device-web-custom( 760 );
}

#ralfschmitz {
	background: lighten(#8B8B8B, 40%);
	color: #222;
	@include device-web-custom( 714 );
}

#ocana {
	background: #171E24;
	border-bottom: none;
	color: #efefef;
	@include device-web-custom( 449 );
	.device-web {
		background: darken(#171E24, 3);
		&:before {
			background: #fff;
			color: #fff;
		}
	}

	.device-screen {
		padding-top: 0;
	}

	.img-wrap {

		img {
			border-top-right-radius: percentage( 14 / $width_device_web_max) percentage( 14 / $height_device_web_max );
			border-top-left-radius: percentage( 14 / $width_device_web_max) percentage( 14 / $height_device_web_max );
			overflow: hidden;
		}

		&:before {
			color: #FFB400;
		}
	}
}

#simfy {
	background: #009FE5;
	color: #fff;
	.img-wrap:before {
		color: #009FE5;
	}
}

#zalando {
	background: #E67F13;
	color: #fff;
}

#kadewe {
	background: #F7F7F7;
	color: #00021B;
	.device-iphone {
		background: #000;
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
}

#stylebop {
	background-image: -webkit-linear-gradient(#FBFBFB 0%, #DCDCDC 98%);
	background-image: -o-linear-gradient(#FBFBFB 0%, #DCDCDC 98%);
	background-image: linear-gradient(#FBFBFB 0%, #DCDCDC 98%);
	color: #222;
	.device-iphone {
		background: #000;
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
	.app-of-the-week {
		background: #A4927D;
		border-radius: 50%;
		color: #fff;
		display: inline-block;
		font-weight: 700;
		text-align: center;
		transform: rotate(-12deg);
		@include vw-min-max( 'height', 60, 120, $width_project_max );
		@include vw-min-max( 'margin-bottom', 12, 40, $width_project_max );
		@include vw-min-max( 'margin-left', -4, -16, $width_project_max );
		@include vw-min-max( 'width', 60, 120, $width_project_max );
		@include vw-min-max( 'padding-top', 16, 34, $width_project_max );
	}
}

#stephiebecker {
	background: #dcdcdc;
	color: #ff5037;
	@include device-web-custom( 804 );
	.img-wrap:before {
		color: #ff5037;
	}
}

#berlinpoland {
	background: #272727;
	color: #d9d9d9;
	@include device-web-custom( 756 );
	.device-web {
		background: #F2F2F2;
		&:before {
			background: #d9d9d9;
			color: #d9d9d9;
		}
	}
}

#ipanema {
	background: #efefef;
	color: #393939;
	@include device-web-custom( 714 );
	.device-web {
		background: #ccc;
		&:before {
			background: darken(#efefef,30);
			color: darken(#efefef,30);
		}
	}
}

#berinson {
	background: #F2C034;
	color: #000;
	@include device-web-custom( 639 );
}

#teichmann {
	background: #101012;
	color: #CBCCCC;
	@include device-web-custom( 1000 );
	.device-web {
		background: #27262E;
		&:before {
			background: darken(#27262E,20);
			color: darken(#27262E,20);
		}
	}
}

#usabilitypark {
	background: #efefef;
	color: #221E1F;
	@include device-web-custom( 742 );
	.device-web {
		background: #221E1F;
		&:before {
			background: lighten(#221E1F,10);
			color: lighten(#221E1F,10);
		}
	}
}

#raceunion {
	background: #222;
	color: #A7A7A7;
	.device-iphone {
		background: #000;
		border-color: lighten(#222,10);
		border-style: solid;
		@include vw-min-max( 'border-width', 2, 6, $content_max_width );
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
}

#pictrip {
	color: #fff;
	background: #505050;
	text-shadow: 0 0px 6px rgba(0,0,0,0.6);
	.device-iphone {
		background: #000;
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
}

#man-iaa {
	color: #303C4A;
	background: #EAEBED;
	.device-iphone {
		background: #000;
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
}

#dmy {
	color: #fff;
	background: #4b4b4b;
	@include device-web-custom( 537 );
}

#viessmann {
	background: #efefef;
	color: #222;
	.device-iphone {
		background: #000;
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
}

#vw-up {
	background: #070708 url('../img/projects/bg-vw-up.jpg') left top no-repeat;
	background-size: cover;
	color: #efefef;
	.device-iphone {
		background: #000;
		border-color: lighten(#222,10);
		border-style: solid;
		@include vw-min-max( 'border-width', 2, 6, $content_max_width );
		&:before {
			background: lighten(#000,12);
		}
		&:after {
			border-color: lighten(#000,12);
		}
	}
}

#multipop {
	background: #0071dc;
	border-bottom: none;
	color: #ffde00;
	@include device-web-custom( 500 );
	.img-wrap:before {
		color: #ffde00;
	}
}

#wedelart {
	background: lighten( #b3b3b3, 25 );
	color: #b3b3b3;
	.device-web:before {
		background: lighten( #b3b3b3, 25 );
		color: lighten( #b3b3b3, 25 );
	}
	.img-wrap:before {
		color: lighten( #b3b3b3, 25 );
	}
	@include device-web-custom( 586 );
}