$border-color: #efefef;

body {
	background: #ffff01;
}

.project-muka {
	background: #ffff02;
	color: #000;
	@include device-web-custom( 502 );
}

.project-foodpanda {
	background: #ea5b31;
	// background: #BEDECB;
	color: white;
}

.project-neubar {
	background: #fafafa url('../img/projects/bg-neubar.jpg') left top no-repeat;
	background-size: cover;
	color: #575D5B;
	.device-web {
		background: #AAABA7;
		&:before {
			background: darken(#AAABA7,8);
			color: darken(#AAABA7,8);
		}
	}
}

.project-supreme {
	background: $black;
	border-bottom: none;
	color: #fff;
	@include device-web-custom( 350 );
}

.project-welt {
	background: #fff url('../img/projects/bg-welt.jpg') left top no-repeat;
	color: #017091;
	color: #fff;
	@media screen and (min-width: 1200px) { // Todo: Get variable.
		background-size: cover;
	}
}

.project-mno {
	background: #f7f7f7;
	@include device-web-custom( 500 );
}

.project-ds {
	background: lighten(#8B8B8B, 40%);
	color: #8B8B8B;
	@include device-web-custom( 760 );
}