/*
Author: Barry Ceelen
Author URI: http://barryceelen.com
*/

$base_font_size: 16; // Set font size to 100% on body
// $font_family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
$font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
$font_family_icon: 'bc';

$black: #222;

$width_project_max: 1460;
$width_description_max: 360;

// Layout, Todo: Fix this.
$content_max_width: 1200;

@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'global';
@import 'masthead';
@import 'about';
@import 'device_iphone';
@import 'device_web';
@import 'projects';
@import 'projects_custom';
@import 'loader';
@import 'footer';
