include _head
body
	#page.hfeed.site
		include _masthead

		#content

			block content

	footer#colophon(role='contentinfo')
		.footer-inner
			span.hide-on-small
				a(href="mailto:%62@%72%72%79%63%65%65%6c%65%6e.%63%6f%6d" class="site-title") b@rryceelen.com
				|&nbsp;
				|/
				|&nbsp;
			a(href="https://cobbledco.de" class="site-title") Blog
			|&nbsp;
			|/
			|&nbsp;
			span.nowrap
				|from Berlin with
				|&nbsp;
				i.love &hearts;
