include _head
body
	#page.hfeed.site
		include _masthead

		main#content

			block content

	footer#colophon(role='contentinfo')
		.footer-inner
			span.nowrap
				|Made with
				|&nbsp;
				i.love &hearts;
				|&nbsp;
				|in Berlin
