include _head
body
	#page.hfeed.site
		//- include _masthead

		#content

			block content

	//- footer#colophon(role='contentinfo')
	//- 	.footer-inner
	//- 		a(href='mailto:b@rryceelen.com', rel='home') E-Mail
	//- 		|&nbsp;
	//- 		|&middot; From Berlin With
	//- 		|&nbsp;
	//- 		i.love &hearts;&nbsp;
	//- 		span.impressum
	//- 			i.&middot;
	//- 			|&nbsp;Impressum
