#masthead
	.site-branding
		a(href="mailto:%62@%72%72%79%63%65%65%6c%65%6e.%63%6f%6d" class="site-title") b@rryceelen.com

	.external-links
		a(href="https://github.com/barryceelen" class="github-link") GitHub
