section.projects
	.row.project#muenchnerkammerspiele
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://muenchnerkammerspiele.de') M&uuml;nchner Kammerspiele
						li
							|Design:
							br
							strong
								a(href='http://doublestandards.net') Double Standards
						li
							|Role:
							br
							strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/muenchnerkammerspiele-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/muenchnerkammerspiele-01.png', alt='')

	.row.project.project-phone.project-phone-black#foodpanda
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='https://itunes.apple.com/app/id758103884?mt=8') Foodpanda
						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone, iPad, Android, Web
							br
							small with Patrick Funk
				.project-gallery
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/foodpanda-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/foodpanda-01.png', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/foodpanda-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/foodpanda-03.png', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/foodpanda-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/foodpanda-02.png', alt='')

	.row.project.wp#ralfschmitz
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://www.ralfschmitz.com') Ralf Schmitz
						li
							|Design:
							br
							strong
								a(href='http://doublestandards.net') Double Standards
						li
							|Role:
							br
							strong WordPress
							br
							strong Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/ralfschmitz-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/ralfschmitz-01.png', alt='')

	.row.project.project-phone.project-phone-black#welt
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title Axel Springer
							strong
								a(href="https://itunes.apple.com/de/app/welt-news-aktuelle-nachrichten/id340021100?mt=8") Die Welt Mobil
						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone, Android, Blackberry
				.project-gallery
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/welt-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/welt-01.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/welt-02.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/welt-02.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/welt-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/welt-03.png', alt='')

	.row.project#supreme
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://supremenewyork.com') Supreme New York
						li
							|Role:
							br
							strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/supreme-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/supreme-01.jpg', alt='')

	.row.project.project-phone.project-phone-black#zalando
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title Zalando
						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone, Android
				.project-gallery
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/zalando-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/zalando-01.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/zalando-02.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/zalando-02.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/zalando-03.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/zalando-03.jpg', alt='')

	.row.project.wp#ocana
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://ocana.cat') Ocaña BCN
						li
							|Design:
							br
							strong
								a(href='http://doublestandards.net') Double Standards
						li
							|Role:
							br
							strong WordPress
							br
							strong Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/ocana-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/ocana-01.jpg', alt='')

	.row.project#okal
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href="http://okal.de") Okal
						li
							|Agency:
							h1.entry-title
								a(href="https://kreuzwerker.de") Kreuzwerker
						li
							|Role:
							br
							strong Front End Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/okal-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/okal-01.jpg', alt='')

	.row.project.wp#neumeisterbaram
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href="http://neumeisterbaram.com") Neumeister <b class="nowrap">Bar-Am</b>
						li
							|Role:
							br
							strong WordPress
							br
							strong Development
				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/neumeisterbaram-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/neumeisterbaram-01.png', alt='')

	.row.project#doublestandards
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://doublestandards.net') Double Standards
						li
							|Role:
							br
							strong Front End Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/ds-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/ds-01.jpg', alt='')

	.row.project.wp#mno
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://markusnikolai.com') Markus Nikolai Optic
						li
							|Design:
							br
							strong
								a(href='http://doublestandards.net') Double Standards
						li
							|Role:
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/mno-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/mno-01.jpg', alt='')

	.row.project.project-phone#simfy
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title Simfy
						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone
							br
							small with Travis Todd
				.project-gallery
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/simfy-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/simfy-01.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/simfy-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/simfy-02.png', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/simfy-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/simfy-03.png', alt='')

	.row.project.project-phone.project-phone-black#kadewe
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title KaDeWe Berlin
						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone
				.project-gallery
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/kadewe-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/kadewe-01.png', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/kadewe-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/kadewe-02.png', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/kadewe-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/kadewe-03.png', alt='')

	.row.project.project-phone.project-phone-black#stylebop
		article.hentry
			.project-inner
				.project-details
					ul
						li.app-of-the-week
							|App of
							br
							|the Week
						li
							|Client:
							h1.entry-title
								a(href="https://itunes.apple.com/de/app/stylebop-shopping-app/id432512739?mt=8") Stylebop
						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone
				.project-gallery
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/stylebop-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/stylebop-01.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/stylebop-02.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/stylebop-02.jpg', alt='')
					.device.device-iphone.iphone-5
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/stylebop-03.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/stylebop-03.jpg', alt='')

	.row.project.wp#stephiebecker
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://stephiebecker.com') Stephie Becker
						li
							|Role:
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/stephiebecker-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/stephiebecker-01.jpg', alt='')

	.row.project.wp#berlinpoland
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							a(href='http://berlinpoland.eu')
								h1.entry-title IDZ Berlin
								strong Berlin/Poland
						li
							|Role:
							br
							strong Interface Design
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/berlinpoland-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/berlinpoland-01.png', alt='')

	.row.project.wp#ipanema
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://ipanema.nl') Caf&eacute; Ipanema Maastricht
						li
							|Role:
							br
							strong Interface Design
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/ipanema-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/ipanema-01.jpg', alt='')

	.row.project.wp#berinson
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://berinson.de') Galerie Berison Berlin
						li
							|Role:
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/berinson-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/berinson-01.png', alt='')

	.row.project.wp#usabilitypark
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							a(href='http://ux-design-awards.com')
								h1.entry-title IDZ Berlin
								strong Usability Park
						li
							|Role:
							br
							strong Interface Design
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/usabilitypark-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/usabilitypark-01.png', alt='')

	.row.project.project-phone.project-phone-black#raceunion
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href="http://app.raceunion.com") Raceunion Lap Timer
						li
							|Role:
							br
							strong Interface Design
							br
							strong iPhone
				.project-gallery
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/raceunion-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/raceunion-01.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/raceunion-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/raceunion-02.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/raceunion-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/raceunion-03.png', alt='')

	.row.project.wp#teichmann
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title Teichmann Racing
						li
							|Role:
							br
							strong Interface Design
							br
							strong WordPress
							br
							strong Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/teichmann-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/teichmann-01.jpg', alt='')

	.row.project.wp.project-phone.project-phone-black#pictrip
		article.hentry
			.project-inner
				.project-details
					ul
						li
							h1.entry-title Pictrip
						li
							|Role:
							br
							strong Interface Design
							br
							strong iPhone, Web
							br
							strong WordPress Development
				.project-gallery
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/pictrip-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/pictrip-01.jpg', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/pictrip-02.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/pictrip-02.jpg', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/pictrip-03.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/pictrip-03.jpg', alt='')

	.row.project.project-phone.project-phone-black#man-iaa
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href='http://www.man.eu/') MAN Truck &amp; Bus
							strong IAA 2010 Visitor Guide

						li
							|Role:
							br
							strong Product Design
							br
							strong iPhone
				.project-gallery
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/man-iaa-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/man-iaa-01.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/man-iaa-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/man-iaa-02.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/man-iaa-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/man-iaa-03.png', alt='')

	.row.project.wp#dmy
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title DMY International Design Festival
							strong 2007 - 2012
						li
							|Role:
							br
							strong WordPress Development

				.project-gallery
					.device.device-web
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/dmy-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/dmy-01.jpg', alt='')

	.row.project.project-phone.project-phone-black#viessmann
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title
								a(href="http://www.viessmann.de/") Viessmann
							strong ISH Web App
						li
							|Role:
							br
							strong Interface Design
							br
							strong Front End Development
				.project-gallery
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/viessmann-01.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/viessmann-01.jpg', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/viessmann-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/viessmann-02.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/viessmann-03.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/viessmann-03.png', alt='')

.row.project.project-phone.project-phone-black#vw-up
		article.hentry
			.project-inner
				.project-details
					ul
						li
							|Client:
							h1.entry-title PCH Berlin
							strong VW Up Buddy
						li
							|Role:
							br
							strong Interface Design
				.project-gallery
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/vw-up-02.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/vw-up-02.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/vw-up-01.png', alt='', class='lazyload')
									noscript
										img(src='img/projects/vw-up-01.png', alt='')
					.device.device-iphone.iphone-4
						.device-screen
							figure
								.img-wrap
									img(data-src='img/projects/vw-up-03.jpg', alt='', class='lazyload')
									noscript
										img(src='img/projects/vw-up-03.jpg', alt='')

.row.project.wp#multipop
	article.hentry
		.project-inner
			.project-details
				ul
					li
						h1.entry-title
							a(href='http://multipop.org') Multipop.org
					li
						|Reposting is fun
			.project-gallery
				.device.device-web
					.device-screen
						figure
							.img-wrap
								img(data-src='img/projects/multipop-01.png', alt='', class='lazyload')
								noscript
									img(src='img/projects/multipop3-01.png', alt='')